*{
    margin: 0;
    padding: 0;
}

.box{
    width: 900px;
    height: 500px;
    border: 3px solid red;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
